body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 80%;
  margin-top: 20px;
  background-color: #E7DEEC;
}

.upload-resume-container {
  background-image: url('./uploadBackground.jpg'); 
  background-size: cover; /* Ensure the image covers the entire container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%; /* Adjusted width */
  flex: none; /* This will remove the flex-grow behavior */
  min-height: 80vh; /* Set a minimum height */
}

.color-square {
  background-color: #814AB9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  flex: 1;
  width: 100%;
  height: auto; 
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 0;
  cursor: pointer;
  position: absolute; 
  top: 30px; 
  left: 30px; 
}

.account-name {
  margin: 0;
  position: absolute; 
  top: 70px; 
  left: 150px;
  font-size: 36px; 
  
}

.signout {
  background: none;
  border: none;
  color: #002FA7;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  position: absolute; 
  top: 105px; 
  left: 200px;
  font-size: 30px; 
}

.signout:hover {
  text-decoration: underline;
}

.tabs-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.tabs {
  display: flex;
  padding-left: 0;
}

.tabs button {
  padding: 12px 24px;
  margin-right: 10px;
  font-size: 3em;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none; /* This removes the border */
}

.tabs button.active {
  font-weight: bold;
}

.tabs button:hover {
  border-bottom: 10px solid #814AB9; /* Adds a purple line under the button */
}

.tab-content {
  background-color: #E7DEEC; /* Set background color for tab content */
}

.file-input-container input[type="file"] {
  font-size: 20px; /* Increase the font size of the file input */
}

.tab-content button {
  background-color: #3663D9; /* Purple background for the upload button */
  color: white;
  padding: 10px 20px;
  font-size: 20px; /* Increased font size for better visibility */
  display: block; /* Ensure it's on a new line */
  margin-top: 10px; /* Space above the button */
  border: none;
  cursor: pointer;
}

.input-prompt {
  font-size: 10px; /* Font size for the input field in Tab 2 */
}

.prompt-list {
  padding: 20px; /* Padding around the list of prompts */
}

.prompt-list li {
  padding: 5px 0; /* Padding for each list item */
}


.banner-image {
  width: 80%;
  height: auto; 
  object-fit: cover; 
}
